<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naracreat.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NaraApp"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:screenOrientation="sensor" />

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Saweria in-app -->
        <activity
            android:name=".SawerActivity"
            android:exported="false" />

        <!-- kalau masih kepake buat buka web lain -->
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
